body {
    margin: 0;
    background: #FFFFFF !important;
    padding: 0 75px 0 75px;
}

header {
}

img {
    vertical-align: middle;
}

.header-container222 {
    height: 110px;
    width: 100%;
    margin: 0;
    border: 1px solid black;
}

#header-inner22 {
    width: 100%;
    display: inline;
    padding: 0;
    margin: 0;

}

.logo {
    width: 86px;
    height: 36px;
}

.logo img {
    width: 86px;
    height: 36px;
}

.search {
    position: absolute;
    left: 0px;
    top: 0px;
}

.search-icon {
    width: 15px;
    height: 15px;
}

#search-input {
    width: 340px;
    height: 40px;
    border: none;
}

.favourite-icon {
    top: 54px;
    width: 25px;
    height: 25px;
}

.favourite-icon img {
    width: 25px;
    height: 25px;
}

.cart-icon img {
    top: 52px;
    left: 1487px;
    width: 25px;
    height: 25px;
}

.cart-text {
    top: 47px;
    left: 1521px;
    width: 56px;
    height: 40px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
}

.avatar-user img {
    width: 50px;
    height: 50px;
    left: 1625px;
    top: 41px;
    border-radius: 50%;
}

.name-user {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 43px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #000000;
}

.main-menu {
    height: 100%;
    position: fixed;
}

.text-menu span {
    color: #000000;
    font-weight: bold;
}

.text-menu p {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;

}

.main-menu .title-menu {
    height: 37px;
    width: auto;
    top: 1px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    font-family: Century Gothic;
    color: #000000;

}

.details-menu {
    margin-top: 40px;
}

.details-menu li img {
    width: 25px;
    height: auto;
    align-items: center;
    display: inline-block;
    vertical-align: center;
}

.details-menu li {
    height: 40px;
    list-style-type: none;
    vertical-align: center;
    margin-bottom: 20px;
}

.details-menu li span {
    font-family: Quicksand;
    font-size: 16px;
    line-height: 40px;
    margin-left: 14px;
}

.main-body {
    top: 181px;
    left: 30px;
    width: auto;
    height: auto;

}

.main-body .title-body img {
    width: 24.99px;
    height: auto;
    vertical-align: bottom;
}

.main-body .title-body span {
    font-family: Century Gothic;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20.69px;
    color: #000000;
}

.right-body {
    width: 432px;
    height: 45px;
    border: 0.5px solid #DAD3D3;
    box-sizing: border-box;
    border-radius: 15px;
}

.main-body .right-body img {
    width: 20px;
    height: auto;
}

#bestsell {
    text-align: center;
}

#bestsell img {
    width: auto;
    height: auto;
    border-radius: 15px;
    background-size: contain;
}

.bestsell-item {
    margin-top: 69px;
}

#bestsell-mini-right {
    text-align: center;
}

#bestsell-mini-right img {
    border-radius: 15px;
    background-size: contain;
}

#name-item {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 20px;
}

#classify-item {
    font-family: Quicksand;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 2px;

}

#price-item {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #666565 78%;
    margin-top: 7px;

}


#name-item-mini-right {
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 20px;
}

#classify-item-mini-right {
    font-family: Quicksand;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 2px;

}

#price-item-mini-right {
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #666565 78%;
    margin-top: 7px;

}

#banner-bestsell {
    margin-top: 30px;
}

#banner-bestsell2 {
    margin-top: 35px;
}

#ellipse-item {
    position: absolute;
    top: 2%;
    left: 9%;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: #2ECC71;
    display: flex;
}

#ellipse-item span {
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    width: 30px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

#text-bottom-banner {
    margin-top: 32px;
    width: auto;
    height: 25px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 25px;
    align-items: center;
    text-align: center;
}

#div-text {
    height: 66px;
    border-radius: 15px;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0px;
    display: flex;
}

#quote-text {
    font-family: Quicksand;
    height: 80px;
    display: flex;
    text-align: center;
}

#quote-text span {
    font-family: Quicksand;
    font-size: 25px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0px;
    margin: auto;

}

#div-text span {
    font-family: Quicksand;
    color: #ffffff;
    font-size: 1vw;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0px;
    margin: auto;

}

.bg-blue {
    background: #3498DB;
}

.bg-orange {
    background: #E67E22;
}

.bg-yellow {
    background: #F1C40F;
}

.title-category {
    font-family: Century Gothic;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    color: black;
}

.center {
    text-align: center;
}

.category {
    margin-top: 63px;
}

.choice-of-type {
    width: auto;
    border: 0.5px solid #DAD3D3;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    height: 40px;

}

.active-type {
    background: rgba(240, 240, 240, 0.9);
    border: 0.5px solid #DAD3D3;
    box-sizing: border-box;
    border-radius: 15px;
}

.element-c {
    width: 120px;
    height: 40px;
    display: flex;

}

.element-c span {
    margin: auto;
    left: 30px;
}

.element-c img {
    width: auto;
    height: 18px;
}

.view-more {
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    color: #F1C40F;

}

.cover-img img {
    border-radius: 15px;
    margin-top: 40px;
}

.feelback {
    margin-top: 88px;
}

.owl-carousel img {
    height: 210px;
    width: 210px;
    border-radius: 0px;

}

.navbar {
    height: 70px;
    padding: 0px 75px 0px 75px !important;
}

.space-navbar {
    margin-top: 140px;
}