@media (max-width: 768px) {
    .navbar {
        padding-right: 15px !important;
        padding-left: 15px !important;;
    }

    .owl-carousel .owl-dots {
        position: static !important;
        display: flex;
        width: 100% !important;
        height: 100%;
    }

    .owl-carousel .owl-stage-outer {
        right: 0 !important;
    }

    .owl-carousel {
        width: 100% !important;
    }

    .owl-dots button {
        min-width: auto !important;
        margin-top: 20px !important;
        height: 100px !important;
        margin: 10px;
    }

    .owl-carousel .item img {
        height: 500px !important;
    }

    #main-product {
        margin-top: 20px !important;
    }
}


@media (min-width: 768px) {


    .owl-carousel {
        width: calc(100% - 190px) !important;
    }

    .owl-dots button {
        width: 100%;
        min-width: 175px !important;
        height: 180px !important;
        margin-bottom: 30px;
        border-radius: 15px;
        outline: none;
    }

    .owl-carousel .item img {
        height: 770px !important;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding-right: 15px !important;
        padding-left: 15px !important;;
    }

}

@media (min-width: 1200px) {

}

@media (min-width: 1920px) {

    .owl-carousel .owl-dots {
        position: absolute;
        top: 75px;
        left: 0;
        width: 150px;
        height: 100%;
    }

    .thumb-bestsell {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .thumb-bestsell-right {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .thumb-bestsell:hover #back-hover {

        max-height: 100% !important;

    }

}

@media (min-width: 2560px) {
}

* {
    font-family: Quicksand;
}

body {
    margin: 0;
    background: rgba(249, 250, 251, 1) !important;
}

span {
    font-family: Quicksand !important;
}

ul li a {
    color: black !important;
}

ul li span {
    font-weight: 600;
}

header {
}

img {
    vertical-align: middle;
}

.header-container222 {
    height: 110px;
    width: 100%;
    margin: 0;
    border: 1px solid black;
}

#header-inner22 {
    width: 100%;
    display: inline;
    padding: 0;
    margin: 0;

}

.navbar {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1352);
}

.logo {
    width: 86px;
    height: 36px;
}

.logo img {
    width: 86px;
    height: 36px;
}

.search {
    position: absolute;
    left: 0px;
    top: 0px;
}

.search-icon {
    width: 15px;
    height: 15px;
}

#search-input {
    width: 340px;
    height: 40px;
    border: none;
    padding-left: 21px;
}

#search-input:focus {
    outline: none !important;
}

.favourite-icon {
    position: relative;
    width: 25px;
    height: 25px;
}

.favourite-icon img {
    width: 25px;
    height: 25px;
}

.favourite-num {
    position: absolute;
    top: 4%;
    right: -30%;
    background-color: #1B1A1A;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.favourite-num span {
    color: #ffffff;
    padding: 3px;
    font-weight: 600;
    font-size: 11px;
}

.cart-icon img {
    top: 52px;
    left: 1487px;
    width: 25px;
    height: 25px;
}

.cart-text {
    top: 47px;
    left: 1521px;
    width: 56px;
    height: 40px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
}

.avatar-user img {
    width: 50px;
    height: 50px;
    left: 1625px;
    top: 41px;
    border-radius: 50%;
}

.name-user {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 43px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #000000;
}

.name-user a {
    color: black;
}

.main-menu {
    height: 100%;
    position: fixed;
}

.text-menu span {
    color: #000000;
    font-weight: bold;
}

.text-menu p {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;

}

.main-menu .title-menu {
    height: 37px;
    width: auto;
    top: 1px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    font-family: Century Gothic;
    color: #000000;

}

.details-menu {
    margin-top: 40px;
}

.details-menu li img {
    width: 25px;
    height: auto;
    align-items: center;
    display: inline-block;
    vertical-align: center;
}

.details-menu li {
    height: 40px;
    list-style-type: none;
    vertical-align: center;
    margin-bottom: 20px;
}

.details-menu li span {
    font-family: Quicksand;
    font-size: 16px;
    line-height: 40px;
    margin-left: 14px;
}

.main-body {
    top: 181px;
    left: 30px;
    width: auto;
    height: auto;

}

.main-body .title-body img {
    width: 24.99px;
    height: auto;
    vertical-align: bottom;
}

.main-body .title-body span {
    font-family: Century Gothic;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20.69px;
    color: #000000;
}

.right-body {
    width: 432px;
    height: 45px;
    border: 0.5px solid #DAD3D3;
    box-sizing: border-box;
    border-radius: 15px;
}

.main-body .right-body img {
    width: 20px;
    height: auto;
}

#bestsell {
    position: relative;
}


#bestsell img {
    width: auto;
    height: auto;
    background-size: contain;
}

.bestsell-item {
    margin-top: 69px;
}

#bestsell-mini-right {
    max-height: 240px;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
}

#bestsell-mini-right img {
    background-size: contain;
}

#name-item {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 20px;
}

#classify-item {
    font-family: Quicksand;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 2px;

}

#price-item {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #666565 78%;
    margin-top: 7px;

}


#name-item-mini-right {
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 20px;
}

#classify-item-mini-right {
    font-family: Quicksand;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #0E0D0D;
    margin-top: 2px;

}

#price-item-mini-right {
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #666565 78%;
    margin-top: 7px;

}

.price {
    font-family: Quicksand;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color: #E67E22 !important;
    margin-top: 7px;

}

#banner-bestsell {
    margin-top: 30px;
}

#banner-bestsell2 {
    margin-top: 35px;
}

#ellipse-item {
    position: absolute;
    top: 3%;
    left: 4%;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: #2ECC71;
    display: flex;
}

#ellipse-item span {
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    width: 30px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

#text-bottom-banner {
    margin-top: 32px;
    width: auto;
    height: 25px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 25px;
    align-items: center;
    text-align: center;
}

#incentives {
    /*padding-top: 50px;*/
}

#div-text {
    height: 66px;
    border-radius: 15px;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0px;
    display: flex;
}

.container {
    width: 1470px !important;
    max-width: 100% !important;
}

#quote-text {
    font-family: Quicksand;
    height: 80px;
    display: flex;
    text-align: center;
}

#quote-text span {
    font-family: Quicksand;
    font-size: 25px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0px;
    margin: auto;

}

#div-text span {
    font-family: Quicksand;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0px;
    margin: auto;

}

.bg-blue {
    background: #3498DB;
}

.bg-orange {
    background: #E67E22;
}

.bg-yellow {
    background: #F1C40F;
}

.title-category {
    font-family: Century Gothic;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    color: black;
}

.sub-title-category {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 8px;
    color: black;
}

.center {
    text-align: center;
}

.category {
    margin-top: 63px;
}

.choice-of-type {
    width: auto;
    border: 0.5px solid #DAD3D3;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    height: 40px;

}

.active-type {
    background: rgba(240, 240, 240, 0.9);
    border: 0.5px solid #DAD3D3;
    box-sizing: border-box;
    border-radius: 15px;
}

.element-c {
    width: 120px;
    height: 40px;
    display: flex;

}

.element-c span {
    margin: auto;
    left: 30px;
}

.element-c img {
    width: auto;
    height: 18px;
}

.view-more {
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    color: #F1C40F;

}

.cover-img {
    margin-top: 40px;
}

.div-cover-img {
    max-height: 250px;
    overflow: hidden;
    border-radius: 15px;
}

.feelback {
    margin-top: 88px;
}


#photo-fr-cus #photo {
    margin-top: 20px;
}

.navbar {
    height: 70px;
    padding: 0px 75px 0px 75px;
    box-shadow: 0px 2px 8px 0px #000000 13, 52%;
}

.space-navbar {
    margin-top: 120px;
}

#photo-fr-cus {
    margin-top: 88px;
}

#signup-save {
    margin-top: 99px;
}

#photo-fr-cus .title {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}

#input-mail-sub {
    height: 45px;
    width: 450px;
    border-radius: 15px 0px 0px 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.86);
    border-right: 0px solid;

}

#input-sub {
    font-family: Quicksand !important;
    height: 45px;
    width: 154px;
    border-radius: 0px 15px 15px 0px;
    border: 0;
    background: #E67E22;
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0px;
}

#input-sub input {
    font-family: Quicksand;
}

#input-sub:focus {
    outline: none;
}

#input-mail-sub::placeholder {
    padding-left: 28px;
}

#input-mail-sub:focus {
    outline: none;
}


.pagintion {
    padding-top: 75px;
}

.number_pagin {
    padding-top: 34px;
}

.number_pagin #number {
    padding-left: 31px;
}

#footer {
    padding-top: 176px;
    padding-bottom: 45px;
}

#footer .img-fluid {
    border-radius: 10px;
}

#footer .text {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    white-space: nowrap;
}

.item-menu {
    font-family: Quicksand;
    height: 35px;
    width: auto;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    background-color: #FFFFFF;
    white-space: nowrap;
}

.active-menu {
    color: #FFFFFF;
    background-color: #F1C40F;

}

.item-menu span {
    margin: auto;
}

#main-product {
    margin-top: 90px;
}

.title-pro {
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #333232;
}

.price-pro {
    font-family: Quicksand;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 15px;
}

.pricesale {
    color: rgba(165, 155, 155, 0.92);
    font-size: 25px;
    text-decoration-line: line-through;
    margin-right: 15px;
}

.sale-timeout-pro {
    margin-top: 30px;
}

.express-pro {
    font-size: 15px;
    color: #3498DB;
    margin-top: 50px;
}


.title-discription-pro {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    margin-top: 35px;
}

.discription-pro {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 14px;
}

.info-pro {
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    color: #000000;
    margin-left: 18px;

}

.info-pro span {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    color: #5B5A5A;
}

.tag {
    margin-left: 17px;
}

.tag-text {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 9px;
    color: #C3B2B2;

}

.img-pro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: flex-start;
    user-select: none;
    position: sticky;
    top: 0;
}

.title-type-pro {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
}

.link-pro a{
    font-family: Quicksand;
    line-height: 25px;
    font-weight: 500;
    color: #70716f;
}

#div-choose {
    background: #F6F6F9 90%;
    border-radius: 5px;
    padding-top: 30px;
}


#div-choose-color {
    /* margin-top: 45px;*/
}

#div-btn-custom {
    margin-top: 45px;
}

#div-btn-custom button {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.13);
    outline: none;
    height: 40px;
    border: none;
}

#div-btn-custom p {
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    cursor: pointer;
}

.add-to-card {
    background: #2ECC71;
    font-size: 25px;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 700;
    outline: none !important;
    border: none;
    line-height: 55px;
}

.list-type-pro {
    margin-top: 30px;
}

.list-color-pro {
    margin-top: 30px;
}

.div-choose-type .item {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.item .thumb {
    padding: 15px;
}

.item-color {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #C0BEBE;
    margin-right: 30px;
    border-radius: 5000px;
    cursor: pointer;
}

.active-color {
    border: 1px solid #0E459E;
}


.cl-white {
    background-color: #FFFFFF;
}

.cl-blue {
    background-color: #3498DB;
}

.cl-orange {
    background-color: #FB6238;
}

.cl-black {
    background-color: #1F2324;
}

.cl-green {
    background-color: #69DE6C;
}

#main-product #div-choose-type .item {
    width: 150px;
    height: 200px;
}

#div-choose-size {
    margin-top: 45px;
}

#div-preview {
    margin-top: 60px;
}

.list-size-pro {
    margin-top: 30px;
}

.size {
    width: 65px;
    height: 45px;
    background: #FDFDFD;
    margin-right: 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

.active-size {
    background: rgba(52, 152, 219, 0.5) !important;
}

.size span {
    font-family: Quicksand;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    margin: auto;
}

#div-preview button {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #3498DB;
    outline: none;
    width: 100%;
    height: 50px;
}

#div-preview span {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
}

#div-note {
    margin-top: 30px;
    padding-bottom: 25px;
    font-size: 15px;
}

#div-addcart {
    margin-top: 50px;
}

.clicked {
    border: 2px solid #0D7091;
}

/* OWl START*/
.owl-carousel img {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.owl-carousel .item {
    width: 100%;
    display: block;
    cursor: pointer;
    coslor: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


.content-carousel {
    width: 100%;
    display: block;
}

.owl-carousel {
    width: calc(100% - 190px);
}

.owl-carousel .owl-stage-outer {
    position: absolute;
    top: 0;
    right: -190px;
    border-radius: 15px;
}

.owl-carousel .owl-controls .owl-dot {
    background-size: cover;
    margin-top: 10px;
}

.owl-carousel .owl-dots {
    position: absolute;
    top: 75px;
    left: 0;
    width: 150px;
    height: 100%;
}

.owl-carousel .owl-dot {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.owl-dots button {
    width: 100%;
    min-width: 175px;
    height: 180px;
    margin-bottom: 30px;
    border-radius: 15px;
    outline: none;
}

.owl-nav-pro {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
}

.owl-nav-pro .owl-prev img {
    position: absolute;
    top: 0;
    font-size: 50px;
}

.btn-up, .btn-down {
    display: none;
}

/* OWl START*/

.product-home-category {
    position: relative;
}

.thumb-product-home {
    max-height: 240px;
    overflow: hidden;
    border-radius: 15px;
}

.thumb-home-category img {
    background-size: contain;
}

.thumb-bestsell {
    max-height: 500px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;

}

#back-hover {
    display: none;
}

.thumb-bestsell:hover #back-hover {
    position: absolute;
    background: rgba(247, 247, 247, 0.6);
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    border-radius: 15px;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
}

.thumb-bestsell-right {
    max-height: 240px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.thumb-bestsell-right:hover > #back-hover {
    position: absolute;
    background: rgba(247, 247, 247, 0.6);
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    border-radius: 15px;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
}

#back-hover span {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    outline: none;
}

.centerContent {
    vertical-align: middle;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
}

#back-hover .div-btn {


}

#back-hover button {

    background-color: #0C0C0C;
    color: #FFFFFF;
    border-radius: 40px;
    outline: none;
    border: none;

}

.item-category {
    position: relative;
}

.item-category-thumb {
    max-height: 240px;
    overflow: hidden;
    border-radius: 15px;
}

.owl-nav-pro {
    display: none;
}

.order-list {
    margin-bottom: 40px;
}

.order-div {
    padding-top: 20px !important;
    position: relative;
    padding: 59px;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
}

.div-un-cart {
    font-size: 20px;
}

.div-un-cart i {
    cursor: pointer;
}

.order-img-front {
    max-height: 338px;
    overflow: hidden;
    margin-right: 60px;
    position: relative;
}

.order-img-front img {
    border-radius: 15px;
}

.order-img-front .icon-front {
    position: absolute;
    top: 3%;
    left: 70%;
    border-radius: 15px;
    background: #F1C40F;
    color: #FFFFFF;
    width: 65px;
    height: 25px;

}

.order-img-back .icon-back {
    position: absolute;
    top: 3%;
    left: 5%;
    border-radius: 15px;
    background: #E67E22;
    color: #FFFFFF;
    width: 65px;
    height: 25px;
}

.order-img-back {
    max-height: 338px;
    overflow: hidden;
    position: relative;
}

.order-img-back img {
    border-radius: 15px;

}

.order-item-name span {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
}

.order-item-type {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}

.order-item-type span {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}


#price-item-mini-right {
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #E67E22;
    margin-top: 7px;

}

.quantity span {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.inputQuantity {
    border-radius: 15px;
    outline: none !important;
    text-align: center;
    border: 1px solid #2ECC71;
    box-sizing: border-box;
}

.quantity-order {
    height: 55px;
    border-radius: 15px;
    width: 100%;
    outline: none !important;
    text-align: center;
    border: 1px solid #2ECC71;
    box-sizing: border-box;
    font-size: 25px;
}

.div-favourite-order {
    border: 1px solid #E67E22;
    border-radius: 500%;
    box-sizing: border-box;
    height: 55px;
    width: 55px;
}

.div-favourite-order i {
    font-size: 25px;
    color: #E67E22;
}

.delivery img {
    margin-right: 20px;
}

.delivery span {
    font-weight: 500;
}

.text-expree {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
}

.secure_checkout {
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

.secure_checkout .total {
    color: #555555;
    font-weight: 600;
    font-size: 20px;
}

.secure_checkout .summary-text {
    color: rgba(85, 85, 85, 0.9);
    font-weight: 500;
}

.secure_checkout .summary-money {
    color: #555555;
    font-weight: 600;
}

.secure_checkout .service-text {
    color: rgba(85, 85, 85, 0.9);
    font-weight: 500;
}

.secure_checkout .service-money {
    color: #2ECC71;
    font-weight: 600;
}

.secure_checkout hr {
    border-top: 1px solid #2ecc716e;
}

.account_order {
    background: #ECECEC;
    border-radius: 15px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #000000;
}

.coupon_order {
    height: 45px;
    margin-top: 35px;
}

.note_order {
    color: rgba(0, 0, 0, 0.59);
    font-size: 11px;
}

.coupon_order button {
    background: rgba(46, 204, 113, 0.2);
    border-radius: 10px;
    color: #2ECC71;
    line-height: 40px;
    font-weight: bold;
    outline: none !important;
    border: none;
}

.coupon_order input {
    border: 0.9px solid rgba(46, 204, 113, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 40px;
    outline: none !important;
    padding-left: 21px;
}

.coupon_order input::placeholder {
    color: rgba(46, 204, 113, 0.3);
    font-weight: bold;
}


.btn_secure_checkout {
    font-family: Quicksand;
    background: #2ECC71;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 600;
    outline: none !important;
    border: none;
    line-height: 40px;
}

.btn_secure_checkout a {
    color: #FFFFFF;
}

#div_addressnew {
    display: none;
}

.payment-info .title {
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.radio_shipping {
    cursor: pointer;
}

.payment-info .total {
    color: #555555;
    font-weight: 600;
    font-size: 20px;
}

.payment-info .summary-text {
    color: rgba(85, 85, 85, 0.9);
    font-weight: 500;
}

.payment-info .summary-money {
    color: #555555;
    font-weight: 600;
}

.payment-info .service-text {
    color: rgba(85, 85, 85, 0.9);
    font-weight: 500;
}

.payment-info .service-money {
    color: #2ECC71;
    font-weight: 600;
}

.payment-info {
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

.payment-item {
    margin-bottom: 30px;
}

.payment-item img {
    height: 100%;
    border-radius: 15px;
}

.payment-item-name {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.payment-item-price {
    color: rgba(230, 126, 34, 1);
    font-size: 12px;
    font-weight: 600;

}

.payment-item-quantity {
    font-size: 12px;
}

.payment-icon a {
    color: rgba(241, 196, 15, 1);
}

.payment-icon i {
    cursor: pointer;
}


.payment-card {
    border: 0.6px solid rgba(241, 196, 15, 0.7);
    border-radius: 15px;
    cursor: pointer;

}

.payment-card hr {
    border-top: 1px solid rgba(241, 196, 15, 0.7)
}

.active-address {
    border: 0.6px solid rgba(241, 196, 15, 0.7);
    background-color: #ffffff !important;
    color: rgb(241 196 15) !important;
}

.div_address {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #F8F4F4;
}

.checked_method {
    border: 1.5px solid #F1C40F
}

.method_ship {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
}

.method_ship .name {
    font-size: 11px;
    font-weight: 600;
    color: #000000;
}

.method_ship .expected_delivery {
    font-size: 11px;
    color: #868181;
}

.method_ship .price {
    font-weight: 600;
    font-size: 12px;
    color: #000000;
}

.div-gender {
    height: 50px;
    background: rgba(240, 240, 240, 0.9);
    border-radius: 15px;
    max-width: 120px !important;
    font-weight: 600;
    cursor: pointer;
}

.div-gender img {
    width: 18px;
    height: 18px;
}

.active-gender {
    background: rgba(241, 196, 15, 0.3);
}

.input-yellow {
    border-radius: 15px !important;
    border: 0.6px solid rgba(241, 196, 15, 0.7) !important;
}


.divcard {
    border-radius: 9px;
    border: 1px solid #C0F0D4;
    padding: 0.5rem !important;
}

.cardmmyy {
    width: 5rem;
}

.cardcvv {
    width: 4rem;
}

.cardnumber {

}

.outline-none {
    outline: none;
}

.divlayout {
    position: relative;
    border: 1px solid #ccc;
    width: 75px;
    height: 75px;
    border-radius: 3px;
    cursor: pointer;
    padding: 9px;
    margin-bottom: 10px;
    text-align: center;
}

.active-lay {
    border: 2px solid #52abda;
}

.label_layout {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(238, 238, 238, 0.7);
}

canvas #c {
    position: absolute;
    left: 0px;
    top: 0px;
}

.divcanvas {
    width: 600px;
    height: 600px;
    position: relative;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.btn-signinup a {
    font-size: 16px;
    color: #000000;
}

/*radio*/
.fpd-modal-overlay.fpd-fullscreen > .fpd-modal-wrapper {
    width: 50% !important;
    height: 83% !important;
    top: 50px !important;
    overflow: hidden !important;
}

.fpd-modal-product-designer.fpd-modal-overlay > .fpd-modal-wrapper {
    padding: 0px !important;
    text-align: center;
    border-radius: 15px;
}

.fpd-modal-close {
    /* display: none;*/
}

.fpd-container {
    width: 100% !important;
}

.fpd-draggable-dialog {
    width: 350px !important;
}

.fpd-container .fpd-secondary-bg-color, .fpd-container .fpd-btn, .fpd-modal-wrapper .fpd-btn, .fpd-switch-container.fpd-enabled .fpd-switch-toggle, .fpd-switch-container.fpd-enabled .fpd-switch-bar, .fpd-modal-product-designer.fpd-modal-overlay .fpd-done {
    background-color: #1a1a1a;
}

.btn-cancel {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    margin-left: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    background-color: #1a1a1a;
}

.btn_save_acc {
    background: #2ECC71;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 600;
    outline: none !important;
    border: none;
    line-height: 40px;
    min-width: 100px;
}


.detail-order {
    cursor: pointer;
}

#description .ql-editor {
    padding: 0;
}

.starrr {
    display: inline-block;
}

.starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #E67E22;
    text-decoration: none;
}