/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.form-label-group label {
    font-size: 11px !important;
}

.transition-none {
    -webkit-transition: none !important;
    transition: none !important;
}

.image-preview {
    background: #ff000000;
    position: relative;
    display: inline-block;
    margin: 17px;
    vertical-align: top;
    border: 1px solid #acacac;
    padding: 6px 6px 6px 6px;
}


.image-preview .detail {
    width: 100px;
    height: 100px;
    position: relative;
    background: #ebebeb;
    padding: 5px;
    margin-bottom: 22px;
}

.image-preview .detail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.list-group-item{
    cursor: pointer;
   
}
.properties-img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    border-radius: 15px;
    border: 2px solid #babfc7;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    cursor: pointer;
}
.properties-img img{
    padding: 25px;
    background-size: contain;
}

#thumbnail{
    position: relative;
    width: 100%;
    height: 305px;
    overflow: hidden;

}
#thumbnail .dz-thumb{
    max-height: 500px;
    overflow: hidden;
    border-radius: 15px;
}

#previews{
    height: 305px;
    border-radius: 15px;

}
.dz-message-thumb{
    text-align: center;
}
.dz-message-thumb{
    position: absolute;
    top: 50%;
}
.centerContent {
    vertical-align: middle;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
}






.dropzone {
    border: none;
    background: none;
}

#thumbnail_panel .dz-progress {
    display: none;
}

#thumbnail_panel .dz-image {
    width: 100%;
    height: auto;
}

.dropzone .dz-preview .dz-image img {
    width: 100% !important;
}

#thumbnail_panel .dz-message:before {
    background: none;
}
